#pos
	%p The POS Screen is similar to a Detail Screen.

	%p Is this a new paragraph?

	%ul
		%li Workflow 
			%a{:href=> "pos/pos-flow.png"}(diagram) 

			<a href="pos/pos-flow.xml">(xml)</a>
		<li>Modules <a href="pos/pos-modules.png">(diagram)</a> <a href="pos/pos-modules.xml">(xml)</a></li>