<ul>
	<li>Celerant Stuff
		<ul>
			<li><a href="https://liberty.celerant.com/">web mail</a></li>
			<li><a href="http://wiki.celerant.com/">Celerant Wiki</a></li>
		</ul>
	</li>
	<li>Tools
		<ul>
			<li><a href="http://www.diagram.ly/">Diagrams Online</a></li>
			<li><a href="http://jsonlint.com/">JSONLint</a></li>
		</ul>
	</li>
	<li>References
		<ul>
			<li><a href="http://backbonejs.org/">Backbone.js</a></li>
			<li><a href="http://api.jquery.com/">jQuery</a></li>
			<li><a href="http://api.jqueryui.com/">jQuery UI</a></li>
			<li><a href="http://www.regular-expressions.info/reference.html">regex reference</a></li>
			<li><a href="http://twitter.github.com/bootstrap/scaffolding.html">Twitter Bootstrap</a></li>
			<li><a href="http://underscorejs.org/">Underscore.js</a></li>
			<li><a href="http://yui.github.com/yuidoc/syntax/index.html">YUIDoc Syntax</a></li>
		</ul>
	</li>
</ul>